@import "./utilities/variables";
@import "./utilities/extends";
@import "./utilities/mixins";
@import "./layout/header";
@import "./layout/nav";
@import "./layout/main";
@import "./layout/footer";
@import "./pages/nosotros";
@import "./pages/ofertas";
@import "./pages/tienda";
@import "./pages/contactenos";



 *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px*/
}

a { 
  text-decoration: none;
}   

body {
  font-family: $fuentePrincipal;
  background-color: $negro;
  font-size: 1.6rem;
  line-height: 1.5;
}

p {
    font-size: 1.4rem;
    font-family:Arial, Helvetica, sans-serif;
    color: $blanco;
}

h1, h2, h3 {
  @extend %titulo-base
  
}

h1 {
  font-size: 6.8rem;
  margin: 0;
  padding: 1rem 0; /* Opcional: para dar espacio sin desplazar el bloque */
    
}
h2 {
    font-size: 4.8rem;
    
}
h3 {
    font-size: 3.2rem;
} 

img {
  max-width: 100%;
  height: 300px; 
  object-fit: cover;
  border-radius: 5px;
  background-color: $negro;
}









