//  VARIABLES
$fuentePrincipal: "Orbitron", sans-serif;
$fuenteSecundaria: "Open Sans", sans-serif;
$primario: #4bc982; 
$secundario: #f1f1f1;
$blanco : #ffffff; 
$negro: #000;
$rojo: #b22222;
$gris: #1c2833;